
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <head>
        <title>CineFlex | İletişim </title>
    </head>
<body>

    <div id="site-content">


        <main class="main-content">
            <div class="container">
                <div class="page">
                    <div class="breadcrumbs">
                        @Html.ActionLink("Ana Sayfa", "Index")
                        <span>İletişim</span>
                    </div>

                    <div class="content">
                        <div class="row">
                            <div class="col-md-4">
                                <h2>İletişim</h2>
                                <ul class="contact-detail">
                                    <li>
                                        <img src="~/OuterTools/movie_review/images/icon-contact-map.png" alt="#">
                                        <address><span>CineFlex Group Cinema</span> <br>Mühürdar Cd. Kadıköy</address>
                                    </li>
                                    <li>
                                        <img src="~/OuterTools/movie_review/images/icon-contact-phone.png" alt="">
                                        <a href="tel:21624633539">0(216) 246 33 539</a>
                                    </li>
                                    <li>
                                        <img src="~/OuterTools/movie_review/images/icon-contact-message.png" alt="">
                                        <a href="mailto:contact@companyname.com">cineflex@hotmail.com</a>
                                    </li>
                                </ul>
                                <div class="contact-form">
                                    <input type="text" class="name" placeholder="İsim...">
                                    <input type="text" class="email" placeholder="E-Mail...">
                                    <input type="text" class="website" placeholder="Telefon...">
                                    <textarea class="message" placeholder="Mesajınız..."></textarea>
                                    <input type="submit" value="Mesajı Gönder ">

                                </div>
                            </div>
                            <div class="col-md-7 col-md-offset-1">
                                <div class="map"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- .container -->
        </main>

    </div>
    <!-- Default snippet for navigation -->



  
    <script src="https://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
    

</body>
